API_KEY=your_openrouter_api_key
ACCESS_PASSWORD=password_required_to_use_api_key # ACCESS_PASSWORD is optional if you set PORT=localhost

# Optional
SAVE_DIR=directory_where_user_data_are_saved
RPG_MODEL=ai_model_used_for_narration